#
# Default  Bacula File Daemon Configuration file
#
#  For Bacula release 7.0.5 (28 July 2014) -- ubuntu 16.04
#
# There is not much to change here except perhaps the
# File daemon Name to List Directors who are permitted to contact this File daemon
#
Director {
  Name = {{director_name}}-dir
  Password = "{{ unique_password.stdout }}"
}
# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
#
# Director {
#   Name = {{director_name}}-mon
#   Password = "phwQbd6E0X6yYZQeAfjE7Vv8W3kLiy2-6"
#   Monitor = yes
# }

#
# "Global" File daemon configuration specifications
#
FileDaemon {                          # this is me
  Name = {{ansible_hostname}}-fd
  FDport = 9102
  WorkingDirectory = /var/lib/bacula
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
# Plugin Directory = /usr/lib/bacula
  FDAddress = {{ansible_default_ipv4.address}}
}

# Send all messages except skipped files back to Director
Messages {
  Name = Standard
  director = {{director_name}}-dir = all, !skipped, !restored
}

